
<!doctype html>
<html lang="zxx">
    <head>
        {% load staticfiles %}

        <title> {{site_title}} </title>
        <!-- Required meta tags -->
        <meta name="google-site-verification" content="eYxS3CDhZvPOFApCH3eF68pO_T2dlDf0VY9OL0F-6OM" />
        <meta name="title" content="Best Telegram To MT4 Copier Free Download | Telegram Signal Copier" />
        <meta name="Description" content="Telegram signal copier, Best Telegram to mt4 copier and download it free, Telegram trade copier, Telegram fx copier, Telegram forex copier" />
        <meta name="keyword" content="telegram to mt4 copier free download, telegram to mt4 copier free, best telegram mt4 copier, best telegram to mt4 copier, telegram signal copier, telegram trade copier, telegram fx copier, telegram forex copier" />
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

        <link rel="shortcut icon" href="/static/telmtcp/img/icon/telegrammt4.ico" type="image/x-icon">
    <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-180196184-1"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'UA-180196184-1');
        </script>

        <!-- Font-->
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
        <!-- Font Awesome -->
        <link rel="stylesheet" href="/static/library/welcome_asset/assets/icons/font-awesome-4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="/static/library/welcome_asset/assets/icofont/icofont.min.css">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="/static/library/welcome_asset/assets/plugins/css/bootstrap.min.css">
        <!-- Animate CSS
        <link rel="stylesheet" href="/static/library/welcome_asset/assets/plugins/css/animate.css"> -->
        <!-- Owl Carousel CSS-->
        <link rel="stylesheet" href="/static/library/welcome_asset/assets/plugins/css/owl.css">
        <!-- Fancybox-->
        <link rel="stylesheet" href="/static/library/welcome_asset/assets/plugins/css/jquery.fancybox.min.css">
        <!-- Custom CSS-->
        <link rel="stylesheet" href="/static/library/welcome_asset/assets/css/styles.css">
        <!-- Phone Field CSS-->
        <link rel="stylesheet" href="/static/library/welcome_asset/assets/css/intlTelInput.css">
        <link rel="stylesheet" href="/static/library/welcome_asset/assets/css/demo.css">
        <!-- Responsive -->
        <link rel="stylesheet" href="/static/library/welcome_asset/assets/css/responsive.css">

        <link rel="stylesheet" href="/static/library/ucss/main.css">

    </head>
    <meta name="clckd" content="0b7e35690b91eb723457a26bc1d8cec6" />
    <body class="black-bg" >
        {% csrf_token %}
        <!--
        ===================
           NAVIGATION
        ===================
        -->
        <header class="black-bg mh-header nav-scroll fixed-top mh-xss-mobile-nav wow fadeInUp" id="zb-header">
            <div class="overlay"></div>
            <div class="container">
                <div class="row">
                    <nav class="navbar navbar-expand-lg mh-nav nav-btn">
                        <a class="navbar-brand" href="/"><img src="/static/library/welcome_asset/assets/images/logo.png" alt="" class="img-fluid" style="max-height: 50px;"></a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon icon"></span>
                        </button>

                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav mr-0 ml-auto">
                                <li class="nav-item">
                                    <a class="nav-link" href="/">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#section2">Features</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link " href="#section7">Pricing</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link " href="#section6">Reviews</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link " href="#section8">Signal</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link " data-toggle="modal" data-target=".signin-modal">Signin</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link " data-toggle="modal" data-target=".signup-modal">Signup</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link btn btn-fill welc_btn_w" href="https://t.me/DedicatedTelegramMT4Copier" target="_blank">Contact us</a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </header>

        <!--
        ==============
            HOME
        ==============
        -->
        <section class="section ev-home" id="ev-home">
            <div class="header-overlay-img image-bg" style="background-image: url(static/library/welcome_asset/assets/images/header-bg-shape.svg)"></div>
            <div class="container relative zindex">
                <div class="section-separator">
                    <div class="row vertical-middle-content">
                        <div class="col-sm-12 col-lg-7">
                            <div class="header-content-inner ev-home-padding">
                                <h2 class="main_heading wow fadeInUp" style="font-size: 47px;">You Will Never Miss
                                    A Winning Trading Signal Again</h2>
                                <p class="wow fadeInUp">Fully Integrated Copytrading Solution To Copy Trading Signals From Telegram To MetaTrader 4</p>
                                <div class="ev-button wow fadeInUp">
                                    <a onclick="on_get_started()" class="btn btn-fill welc_btn_w">Start Copying Now</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-5 col-md-12 wow fadeInLeft">
                            <div class="ev-header-img">
                                <img src="/static/library/welcome_asset/assets/images/imavc-3.png" alt="" class="img-fluid" id="imac" style="max-width: 80%; float: right;">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--

         -->
        <section class="ev-about-features-1 section2" id="section2">
            <meta name="title" content="Top Telegram To Mt4 Copier | Copy Signals From Telegram To Mt4" />
            <meta name="Description" content="If you are searching for the Top Telegram To Mt4 Copier then please visit at telegrammt4.com. We provide fully integrated copytrading solution to copy trading signals from telegram to Mt4. Telegram MT4 Copier is a unique copier that you don't have to keep MT4 and Telegram Desktop running on the background." />
            <div class="container">
                <div class="row section-separator relative vertical-middle-content">
                    <img src="/static/library/welcome_asset/assets/images/circle-shape.png" alt="" class="circle-shape">
                    <div class="col-lg-6">
                        <div class="ev-content-title">
                            <span class="title-category">Feature</span>
                            <h3>Always Evolving</h3>
                            <p>Telegram MT4 Copier is a unique copier that you don't have to keep
                                MT4 and Telegram Desktop running on the background. We also keep improving performances to ensure that the copier can read all types of formats including any images perfectly.</p>
                        </div>
                    </div>
                    <div class="col-lg-6" id="featured-content-inner">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="feature-item purple-colorr" id="pr-item2">
                                    <div class="item-icon"><i class="fa icofont-brand-att"></i></div>
                                    <h5>Saves Time</h5>
                                    <p>Let Telegram MT4 Copier do the hard work for you by copying trading signals and opening MT4 orders while you spend your time doing the things you love.</p>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="feature-item blue-colorr" id="pr-item3">
                                    <div class="item-icon"><i class="fa icofont-mushroom"></i></div>
                                    <h5>Lightweight</h5>
                                    <p>Telegram MT4 Copier is lightweight and you can run it on a computer or VPS with lower specs.
                                        This means additional savings for you.</p>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="feature-item gold-colorr" id="pr-item4">
                                    <div class="item-icon"><i class="fa icofont-basketball-hoop"></i></div>
                                    <h5>Recognizes All Formats</h5>
                                    <p>No matter which trading signal format you get, the Telegram MT4 copier can perfectly copy the signal and open the orders thanks to its always evolving learning system.</p>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="feature-item red-colorr" id="pr-item1">
                                    <div class="item-icon"><i class="fa icofont-swimmer"></i></div>
                                    <h5>Multiple Channels</h5>
                                    <p>Telegram MT4 Copier automates Telegram Signals from many different channels that you follow into buy and sell trading orders on MT4.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="ev-featured-section-2 relative section3" id="section3">
            <div class="why-choose-overlay-img">
                <div class="each-color image-bg" style="background-image:url(static/library/welcome_asset/assets/images/feature-2-ov-img.png)"></div>
            </div>
            <div class="container">
                <div class="row section-separator vertical-middle-content relative">
                    <img src="/static/library/welcome_asset/assets/images/trisngle-shape.png" alt="" class="taingle-shape">
                    <div class="col-sm-7">
                        <div class="each-feature-img home-page">
                            <iframe width="100%" src="https://www.youtube.com/embed/s-BdB0LfGz4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                    </div>
                    <div class="col-sm-5">
                        <div class="ev-content-title">
                            <span class="title-category">WELCOME</span>
                            <h3>Why Choose Telegram MT4 Copier?</h3>
                        </div>
                        <div class="each-content-inner">
                            <ul>
                                <li>
                                    <h5>1. Customers First, Profits Second</h5>
                                    <p>Our main priority is to serve and support your customers well.</p>
                                </li>
                                <li>
                                    <h5>2. Affordable & Competitively Priced</h5>
                                    <p>We understand that you want to allocate most of your money into your trading capital so we made Telegram MT4 Copier as affordable as possible!</p>
                                </li>
                                <li>
                                    <h5>3. 24 / 7 Customer Support</h5>
                                    <p>We are available 7 days a week to solve any technical issues faced by customers. If you ever miss a signal, just drop us a message.</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="lo-discover section4" id="section4">
            <div class="container">
                <div class="row section-separator">
                    <div class="ev-content-title text-center col-sm-12 pr-0">
                        <span class="title-category">GOAL</span>
                        <h3> Making Your Life As A Trader Better</h3>
                        <p class="">Telegram MT4 Copier was built with a sole purpose and that is to make your job and life easier as a trader who is already following trading signals from different Telegram channels and opening MT4 trading orders manually.</p>
                    </div>

                    <div class="col-sm-12 wow fadeInUp discover-tabs">
                        <img src="/static/library/welcome_asset/assets/images/polka-shape-2.png" alt="" class="polka-shape">
                        <img src="/static/library/welcome_asset/assets/images/oval.png" alt="" class="oval-shape">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs lo-nav-tabs" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#home">Configuration</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#menu2">Market Analysis</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#menu1">Custom Settings</a>
                            </li>
                        </ul>

                        <!-- Tab panes -->
                        <div class="tab-content lo-discover-content">
                            <div id="home" class=" tab-pane active">
                                <img src="/static/library/welcome_asset/assets/images/config.png" alt="" class="img-fluid">
                            </div>
                            <div id="menu1" class=" tab-pane fade">
                                <img src="/static/library/welcome_asset/assets/images/settings.png" alt="" class="img-fluid">
                            </div>
                            <div id="menu2" class=" tab-pane fade">
                                <img src="/static/library/welcome_asset/assets/images/market.png" alt="" class="img-fluid">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="ev-process section5" id="section5">
            <div class="container">
                <div class="row section-separator">
                    <div class="ev-content-title text-center col-sm-12 pr-0">
                        <span class="title-category">PROCESS</span>
                        <h3>How To Use Telegram MT4 Copier</h3>
                        <p class="">Follow the 3 simple steps below or you can ask for our assistance at any given time.</p>
                    </div>
                    <div class="ev-process-log col-sm-12">
                        <div class="row">
                            <div class="col-md-6 col-lg-4">
                                <div class="process-item" id="process-item1">
                                    <img src="/static/library/welcome_asset/assets/images/process-arrow-1.png" alt="" class="ev-process-arrow-one">
                                    <div class="ev-img-inner">
                                        <div class="process-number">
                                            1
                                        </div>
                                        <img src="/static/library/welcome_asset/assets/images/pricon-1.png" alt="">
                                    </div>
                                <h4>Download</h4>
                                <p>After you made your purchase, you will be given a link to download the latest version of Telegram MT4 Copier.</p>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-4">
                                <div class="process-item" id="process-item2">
                                    <img src="/static/library/welcome_asset/assets/images/process-arrow-2.png" alt="" class="ev-process-arrow-one">
                                    <div class="ev-img-inner">
                                        <div class="process-number">
                                            2
                                        </div>
                                        <img src="/static/library/welcome_asset/assets/images/install.png" alt="">
                                    </div>
                                <h4>Install</h4>
                                <p>You can either install Telegram MT4 Copier on your PC, Laptop, or VPS and the installation process is fairly simple.</p>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-4">
                                <div class="process-item" id="process-item3">
                                    <div class="ev-img-inner">
                                        <div class="process-number">
                                            3
                                        </div>
                                        <img src="/static/library/welcome_asset/assets/images/configuration.png" alt="">
                                    </div>
                                <h4>Configure</h4>
                                <p>Configure the Telegram MT4 Copier settings based on your own preference and needs.</p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="relative section8" id="section8">
            <!-- TrustBox widget - Starter -->
            <div class="container">
                <div class="row section-separator" style="padding-bottom: 30px; padding-top: 20px;">
                    <div class="ev-content-title text-center col-sm-12 pr-0">
                        <span class="title-category">Verified Signal</span>
                        <h3>$ {{ plans.plan_12.price }} Per Month</h3>
                        <!--
                        <a href="https://www.myfxbook.com/members/Jorenaud/jonathan/8339345" target="_blank">
                            <img class="portfolio-size" alt="widget" src="https://widgets.myfxbook.com/widget?id=8339345&type=2&color=orange"/>
                        </a>
                        <p><br></p>
                        <a href="https://www.myfxbook.com/members/Jorenaud/jonathan/8339345" target="_blank">
                            <img class="portfolio-size" alt="widget" src="https://widgets.myfxbook.com/custom-widget?id=8339345&width=800&height=350&bart=0&linet=1&symbol=ETHUSD&magic=-1&title=Verified Signal's Trading Result&titles=12&bgColor=ffffff&gridColor=bdbdbd&lineColor=ff0505&barColor=ffadad&bar1Color=ffadad&fontColor=525252&chartbgc=ffffff&equityColor=eff45a"/>
                        </a>-->
                    </div>
                </div>
            </div>
            <!-- End TrustBox widget -->
        </section>

        <section class="relative section6" id="section6">
            <!-- TrustBox widget - Starter -->
            <div class="container">
                <div class="row section-separator" style="padding-bottom: 30px; padding-top: 20px;">
                    <div class="ev-content-title text-center col-sm-12 pr-0">
                        <span class="title-category">REVIEW</span>
                        <h3>What Our Customers Say</h3>
                        <div style="margin-top: 50px;" class="trustpilot-widget" data-locale="en-US" data-template-id="5613c9cde69ddc09340c6beb" data-businessunit-id="5f69fba71121630001dab1b6" data-style-height="100%" data-style-width="100%" data-theme="white">
                          <a href="https://www.trustpilot.com/review/telegrammt4.com" target="_blank" rel="noopener">Trustpilot</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End TrustBox widget -->
        </section>

        <section class="lo-pricing-plan section7" id="section7">
            <div class="container">
                <div class="row section-separator relative">
                    <img src="/static/library/welcome_asset/assets/images/pricing-shape.png" alt="" class="pricing-shape">
                    <img src="/static/library/welcome_asset/assets/images/polka-shape-3.png" alt="" class="polka-shape-3">
                    <div class="col-lg-4 col-md-6 wow fadeInUp">
                        <div id="price-item1" class="pricing-item red-color">
                            <div class="pricing-item-top">
                                <span class="event-name"> Trial </span>
                                <h3>$ {{ plans.plan_11.price }}</h3>
                                <span class="duration-month">Week</span>
                            </div>
                            <ul class="pricing-offers">
                                <li>Non-refundable</li>
                                <li>1 demo account</li>
                                <li>Unlimited Channels</li>
                                <li>Unlimited Signals</li>
                                <li>24 / 7 Support</li>
                                <br>
                                <br>
                                <br>
                                <li></li>
                            </ul>
                            <div class="pricing-item-bottom">
                                <a onclick="on_get_started()" class="btn btn-fill welc_btn_w">Choose Plan</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 wow fadeInUp">
                        <div id="price-item2" class="pricing-item sky-color">
                            <div class="pricing-item-top">
                                <span class="event-name"> BASIC </span>
                                <h3>$ {{ plans.plan_5.price }}</h3>
                                <span class="duration-month">Yearly</span>
                            </div>
                            <ul class="pricing-offers">
                                <li>Non-refundable</li>
                                <li>1 real/demo account</li>
                                <li>Unlimited Channels</li>
                                <li>Unlimited Signals</li>
                                <li>24 / 7 Support</li>
                                <li>Unlimited updates</li>
                                <br>
                                <li></li>
                            </ul>
                            <div class="pricing-item-bottom">
                                <a onclick="on_get_started()" class="btn btn-fill welc_btn_w">Choose Plan</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 wow fadeInUp">
                        <div id="price-item3" class="pricing-item yellow-color" style="height: 98%;">
                            <div class="pricing-item-top">
                                <span class="event-name"> Pro </span>
                                <h3>$ {{ plans.plan_9.price }}</h3>
                                <span class="duration-month">Life</span>
                            </div>
                            <ul class="pricing-offers" style="padding-bottom: 25px;">
                                <li>Non-refundable</li>
                                <li>5 real/demo accounts</li>
                                <li>Unlimited Channels</li>
                                <li>Unlimited Signals</li>
                                <li>24 / 7 Support</li>
                                <li>Technique Analysis</li>
                                <li>Unlimited updates</li>
                                <li></li>
                            </ul>
                            <div class="pricing-item-bottom">
                                <a onclick="on_get_started()" class="btn btn-fill welc_btn_w">Choose Plan</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <footer class="ev-footer relative" id="ev-footer">
            <div class="footer-overlay-img">
                <div class="each-color image-bg" style="background-image:url(static/library/welcome_asset/assets/images/footer-shape.png)"></div>
            </div>
            <div class="container">
                <div class="row section-separator pb-0">
                    <div class="col-sm-12 ev-footer-links">
                        <div class="row">
                        </div>
                    </div>
                    <div class="col-sm-12 ev-footer-bottom">
                        <div class="row vertical-middle-content">
                            <div class="col-sm-4">
                                <div class="footer-img footer-logo">
                                    <img src="/static/library/welcome_asset/assets/images/logo.png" alt="" class="img-fluid">
                                </div>
                            </div>
                            <div class="col-sm-4">
                            </div>
                            <div class="col-sm-4">
                                <div class="footer-img">
                                    <img src="/static/library/welcome_asset/assets/images/cards.png" alt="" class="img-fluid">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>

        <div id="welcome_modal">
        <div class="modal fade signin-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content py-5 px-3 justify-content-center align-items-center">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                  </div>
                <div class="logo-wrapper text-center">
                    <img src="/static/library/welcome_asset/assets/images/logo-icon.png" width="100px" />
                    <p>Signin</p>
                    <form class="login-form-wrapper">
                        <div class="container">
                            <label for="uname"><b>Username / Email</b></label>
                            <input type="text" name="uname" v-model="username">

                            <label for="psw"><b>Password</b></label>
                            <input type="password" name="psw" v-model="password" v-on:keyup.13="on_signin()">
                            <label style="float:left;"><b>Forget your password?</b></label>
                            <label><a style="float:right; color: red; font-weight: bold" v-on:click="on_reset()">Reset password</a></label>
                            <p style="margin-bottom: 15px"><br></p>
                            <button id="signin_button" type="button" class="btn btn-fill w-100" v-on:click="on_signin()">Login</button>
                          </div>
                    </form>
                </div>
            </div>
          </div>
        </div>
        <div class="modal fade email-verify-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content py-5 px-3 justify-content-center align-items-center">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                  </div>
                <div class="logo-wrapper text-center">
                    <img src="/static/library/welcome_asset/assets/images/logo-icon.png" width="100px" />
                    <p>Verify a code</p>
                    <form class="login-form-wrapper">
                        <div class="container">
                            <label for="uname"><b>Enter a email verify code you received including <b style="color: red">SPAM</b> folder</b></label>
                            <input type="text" name="uname" v-model="reg_email_verify">
                            <button id="confirm_button" type="button" class="btn btn-fill w-100" v-on:click="on_register">Confirm</button>
                        </div>
                    </form>
                </div>
            </div>
          </div>
        </div>
        <div class="modal fade signup-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" id="sgu_modal">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content py-5 px-3 justify-content-center align-items-center">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                  </div>
                <div class="logo-wrapper text-center">
                    <img src="/static/library/welcome_asset/assets/images/logo-icon.png" width="100px" />
                    <p>Signup</p>
                    <form class="login-form-wrapper">
                        <div class="container">
                            <label for="uname"><b>Username</b></label>
                            <input type="text" placeholder="Enter Username" name="uname" v-model="reg_username">

                            <label for="psw"><b>Email</b></label>
                            <input type="text" placeholder="Enter Email" name="psw" v-model="reg_email">

                            <label for="uname"><b>Telegram Phone number</b></label>
                            <input id="phone" name="phone" type="tel" v-model="reg_phone">

                            <label for="uname"><b>Password</b></label>
                            <input type="password" placeholder="Enter Password" name="uname" v-model="reg_pwd">

                            <label for="psw"><b>Confirm Password</b></label>
                            <input type="password" placeholder="Confirm your Password" name="psw" v-model="reg_confirm_pwd" v-on:keyup.13="onclick_signup()">

                            <button id="signup_button" type="button" class="btn btn-fill w-100" v-on:click="onclick_signup">Signup</button>
                          </div>
                    </form>
                </div>
                </div>
              </div>
            </div>
        </div>


    <!--
    ==============
    * JS Files *
    ==============
    -->

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->

    <!-- jQuery -->
    <script src="/static/library/welcome_asset/assets/plugins/js/jquery.min.js"></script>
    <!-- popper -->
    <script src="/static/library/welcome_asset/assets/plugins/js/popper.min.js"></script>
    <!-- bootstrap -->
    <script src="/static/library/welcome_asset/assets/plugins/js/bootstrap.min.js"></script>
    <!-- waypoint  -->
    <script src="/static/library/welcome_asset/assets/plugins/js/waypoints.min.js"></script>
    <!-- owl carousel -->
    <script src="/static/library/welcome_asset/assets/plugins/js/owl.carousel.js"></script>
    <!-- validator -->
    <script src="/static/library/welcome_asset/assets/plugins/js/validator.min.js"></script>
    <!-- wow -->
    <script src="/static/library/welcome_asset/assets/plugins/js/wow.min.js"></script>
    <!-- jquery nav -->
    <!-- <script src="/static/library/welcome_asset/assets/plugins/js/jquery.nav.js"></script> -->
    <!-- Fancybox js-->
    <script src="/static/library/welcome_asset/assets/plugins/js/jquery.fancybox.min.js"></script>
    <!-- TwinMax -->
    <script src='static/library/welcome_asset/assets/plugins/js/TweenMax.min.js'></script>
	<script src='static/library/welcome_asset/assets/plugins/js/TimelineMax.min.js'></script>
    <script src="/static/library/welcome_asset/assets/plugins/js/scrollmagic.min.js"></script>
    <script src="/static/library/welcome_asset/assets/plugins/js/animation.gsap.min.js"></script>

    <!-- Custom Scripts-->
    <script src="/static/library/welcome_asset/assets/js/custom-scripts.js"></script>
    <script src="/static/library/welcome_asset/assets/js/intlTelInput.js"></script>

    <script src="/static/telmtcp/js/vue.js"></script>
    <script src="/static/telmtcp/js/welcome.js"></script>
    <script src="/static/telmtcp/js/common.js"></script>

    <!-- TrustBox script -->
    <script type="text/javascript" src="//widget.trustpilot.com/bootstrap/v5/tp.widget.bootstrap.min.js" async></script>
    <!-- End TrustBox script -->


    <script>
        var input = document.querySelector("#phone");
        window.intlTelInput(input, {

      //utilsScript: "build/js/utils.js",
    });
    </script>


</body>
</html>
