{% extends 'user/base.html' %}

{% block page_content %}
    <section class="content" id="account_div">
        <div class="row">
            <div class="col-md-6">
                <div class="box box-info">
                    <div class="box-header with-border" style="text-align: center">
                        <h3 class="box-title" style="font-size: 24px;">
                            <span style="color: darkkhaki;"><h2 style="color: #4fd047;font-size: 40px;font-weight: bold;">We value partnership with you</h2><br><br>
                                Your affiliate link: <a id="affiliate_link" style="color: #ff46fe;border: none; font-size: 25px;font-weight: bold;">{{ affiliate_link }}</a>
                                &nbsp;<button type="button" class="btn btn-info pull-right" onclick="copy_from_button_function('affiliate_link');">Copy</button><br>
                                Sharing Percent: &nbsp;<a style="color: #ff46fe;font-size: 25px;font-weight: bold;">  {{ affiliate_percent }} %</a><br>
                                Date of withdrawal: &nbsp;<a style="color: #ff46fe;font-size: 25px;font-weight: bold;">  The last day of each month</a><br>
                                <br><br>
                                <a style="color: #4fd047;font-size: 30px;font-weight: bold;">{{ date }} Report</a><br><br>
                                Affiliate orders: <a style="color: #ff46fe;font-size: 25px;font-weight: bold;"> &nbsp;&nbsp;{{ order_cn }}</a><br>
                                Total profits: <a style="color: #ff46fe;font-size: 25px;font-weight: bold;"> &nbsp;&nbsp;$ {{ total_price }} USD</a><br>
                                Sharing income: <a style="color: #ff46fe;font-size: 25px;font-weight: bold;"> &nbsp;&nbsp;$ {{ sharing_profit }} USD</a><br>
                                <br><br>
                                Contact <a style="color: aqua;font-size: 30px;font-weight: bold;" download href="https://t.me/DedicatedTelegramMT4Copier" target="_blank">us</a> to withdraw sharing income on the last day of each month<br>
                                <br><br>
                            </span>
                        </h3>
                    </div>
                    <form class="form-horizontal" id="account_form">
                        <div class="box-body">
                            {% for order in order_info %}
                                <h4><i class="fa fa-arrow-circle-right"> </i> Order {{ order.no }}</h4>
                                <div class="form-group">
                                    <div class="col-md-12 col-lg-12 col-sm-12">
                                        <div class="col-md-4 col-lg-4 col-sm-4">
                                            <span class="order_c_label">User Name </span>
                                        </div>
                                        <div class="col-md-8 col-lg-8 col-sm-8">
                                            <span>{{ order.username }}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-12 col-lg-12 col-sm-12">
                                        <div class="col-md-4 col-lg-4 col-sm-4">
                                            <span class="order_c_label">Created Date </span>
                                        </div>
                                        <div class="col-md-8 col-lg-8 col-sm-8">
                                            <span>{{ order.create_date }}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-12 col-lg-12 col-sm-12">
                                        <div class="col-md-4 col-lg-4 col-sm-4">
                                            <span class="order_c_label">Plan Description </span>
                                        </div>
                                        <div class="col-md-8 col-lg-8 col-sm-8">
                                            <span>{{ order.description }}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-12 col-lg-12 col-sm-12">
                                        <div class="col-md-4 col-lg-4 col-sm-4">
                                            <span class="order_c_label">Plan Type </span>
                                        </div>
                                        <div class="col-md-8 col-lg-8 col-sm-8">
                                            <span>{{ order.plan_type }}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-12 col-lg-12 col-sm-12">
                                        <div class="col-md-4 col-lg-4 col-sm-4">
                                            <span class="order_c_label">Price </span>
                                        </div>
                                        <div class="col-md-8 col-lg-8 col-sm-8">
                                            <span>{{ order.price }}</span>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="box-footer">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}